.switch {
    align-self: center;
    position: relative;
    display: inline-block;  
    width: 60px;
    height: 30px;
    border-radius: 15px;
    background-image: var(--primary-btn-gradient);
}

input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
    background-image: var(--primary-btn-gradient);
}

.sliderSwitch{
    position: absolute;
    height: 27px;
    width: 27px;
    right: 3px;
    bottom: 2px;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    transition: .4s;
    z-index: 2;
}

.sliderSwitch.switchDark{
    background-color: rgb(8, 0, 40);
    transform: translateX(-27px);
}

.modeLabel{
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 6px;
}

.lightBtn{
    font-weight: bold;
    /* color: #fff; */
}

.dark {
    color: #fff;
}

