.header{
    position: fixed;
    height: 7%;
    width: 100vw;
    padding: 20px 0;    
    display:flex;
    flex-direction: row;
}

.logo{
    margin-left: 120px;
    width: 6% !important;
}

.logoImg{
    width: 100% !important;
}

.directBtns{
    display: flex;
    flex-direction: row;
    font-size: 23px;
    padding-left:60px;
}


.btnNavBar{
    white-space: nowrap;
    color: var(--text-color);
    font-weight: 600;
}

.btnNavBar:hover{
    background-image: var(--primary-btn-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: textSlide infinite 0.7s;
}

.btnHeader{
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.actived{
    background-image: var(--primary-btn-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btnFuncList{
    width: 100%;
    display: flex;
    padding-right: 120px;
    justify-content: flex-end;
}

.btnFunc{
    margin-left: 20px;
}

.btnStart{
    padding: 0 35px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
}

@keyframes textSlide{
    from{
        background-image: var(--gradient-x);
    }

    to{
        background-image: var(--gradient-y);
    }
}

