.header {
    /* height: 7%; */
    width: 100%;
    padding: 20px 100px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    -webkit-user-select: none;
    /* Safari */
    z-index: 10;
    -ms-user-select: none;
    position:fixed;
    /* IE 10 and IE 11 */
    user-select: none;
    backdrop-filter: invert(1%);
    /* Standard syntax */
}

.logo {
    /* margin-left: 120px; */
    width: 40% !important;
}

.logoImg {
    width: 100% !important;
}

.directBtns {
    display: flex;
    flex-direction: row;
    font-size: 23px;
    /* padding-left:60px; */
    width: 66%;
}


.btnNavBar {
    white-space: nowrap;
    color: var(--text-color);
    font-weight: 600;
}

.btnNavBar:hover {
    background-image: var(--primary-btn-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: textSlide infinite 0.7s;
}

.btnHeader {
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.actived {
    background-image: var(--primary-btn-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btnFuncList {
    width: 24%;
    display: flex;
    /* padding-right: 120px; */
    justify-content: space-between;
    align-items: center;
}

.btnFunc {
    margin-left: 20px;
}

.btnStart {
    padding: 16px 35px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
}

.logoShell {
    width: 10%;
}

.functionshell {
    display: flex;
}

.globalIcon {
    width: 16px;
    height: 16px;
    margin-right: 6px;
}

@keyframes textSlide {
    from {
        background-image: var(--gradient-x);
    }

    to {
        background-image: var(--gradient-y);
    }
}