.sidebar{
    height:100%;
    width: 20.5%;
    position: relative;
    background-color: var(--space);
    /* overflow-y: scroll; */
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.headerSideBar{
    display: flex;
    background-color: var(--space);
    width: 100%;
    height: 8%;
    font-size: 15px;
    border-bottom: solid 1.2px #ccc;
    
}

.btnHeaderSideBar{
    text-align: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 5px 15px;
    cursor: pointer;
    }

.btnHeaderSideBar:hover{
    background-color: #dadada;
}

.btnHeaderSideBar.actived{
    color:rgb(150, 150, 150);
}

.sideBarContent{
    /* overflow-y: scroll; */
    width: 100%;
    height: 91.5%;
}