.sidebar {
    height: 100%;
    width: 22%;
    background-color: #fff;
    position: relative;
    background-color: var(--space);
    overflow: hidden;
    /* overflow-y: scroll; */
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.headerSideBar {
    display: flex;
    background-color: var(--space);
    width: 100%;
    height: 7%;
    font-size: 15px;
    border-bottom: solid 1.2px #ccc;

}

.btnHeaderSideBar {
    text-align: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 5px 15px;
    cursor: pointer;
    }

.btnHeaderSideBar:hover {
    background-color: var(--grey-secondary);
}

.btnHeaderSideBar.actived {
    color: red;
}

.sideBarContent {
    width: 100%;
    height: 91.5%;
    overflow-y: scroll;
    overflow-x: visible;
    padding-right: 17px;
    box-sizing: content-box;
}

/* width */
.sideBarContent::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.sideBarContent::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.sideBarContent::-webkit-scrollbar-thumb {
    background: rgb(198, 198, 198);
}

/* Handle on hover */
.sideBarContent::-webkit-scrollbar-thumb:hover {
    background: rgb(177, 177, 177);
}